<script type='text/javascript'>
  <% if logged_in? %>
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
      user: current_user
    ).html_safe %>
  <% end %>
  window.headimage = "<%= image_url("heroImage.jpg") %>"
  window.loginimage ="<%= image_url("loginimage.jpg") %>"
  window.navbarlogoimage ="<%= image_url("navbarlogo2.png") %>"
  window.downimage ="<%= image_url("down_arrow.png") %>"
  window.rightimage ="<%= image_url("right_arrow.png") %>"
  window.headvideo = "<%= asset_path("Analog-Typing.mp4") %>"
  window.headvideo1 = "<%= asset_path("New-York-Sky.mp4") %>"
  window.newheader = '<%= asset_path("create-intro-header.png") %>'
  window.magnifier = '<%= asset_path("magnifier.png") %>'
</script>

<main id='root'> </main>

<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
